


<a asp-action="UserList" class="btn btn-primary">Users list</a>

<a asp-action="RoleList" class="btn btn-primary">Roles list</a>


@*<div>
    <div><a href="~/Roles/UserList" class="btn btn-primary">Bicycle list</a></div>
</div>


<div>
    <div><a href="~/Roles/RoleList" class="btn btn-primary">Bicycle list</a></div>
</div>*@