@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="display-3">Welcome, @User.Identity.Name</div>

<hr noshade size="10">


<div class="d-flex justify-content-around mb-5">
    <div><a href="~/Admin/ListOfBicycles" class="btn btn-primary">Bicycle list</a></div>

    <div><a href="~/Roles/Index" class="btn btn-primary">Roles</a></div>

    <div><a href="~/Admin/AddUser" class="btn btn-primary">Add User</a></div>
</div>


<div class="d-flex justify-content-around">
    <div><a href="~/Roles/UserList" class="btn btn-primary">User list</a></div>

    <div></div>

    <div></div>
</div>